<div *ngIf="format">
    id: {{format.id}}
    

    <div *ngIf="editMode">
    
        <form [formGroup]="formEdit" (ngSubmit)="edit()">
            <input type="text" formControlName="name">
            <input type="number" formControlName="height">
            <input type="number" formControlName="widht">
            <input type="checkbox" formControlName="landscape">
            <button type="submit">Valider</button>
    
        </form>
        </div>
       
    <span *ngIf="!editMode">
        name: {{format.name}}
        height:{{format.height}}
        widht:{{format.widht}}
        landscape:{{format.landscape}}
    </span>
    
<!--
        affichage du bouton edit
    -->
    
        <button (click)="toggleEdit()">Edit</button>


    </div>