<h2>Create a new Format:</h2>
<form [formGroup]="createForm" (ngSubmit)="create()">
    <label>~Name:</label>
    <input required type="text" formControlName="name">
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <span *ngIf="name.errors.required">
            Name is required
        </span>
        <span *ngIf="name.errors.maxlength">
            Name must be under 10 chars
        </span>
    </div>
    <label>~Heigh:</label>
    <input required type="number" formControlName="height">
    <div *ngIf="height.invalid && (height.dirty || height.touched)">
        <span *ngIf="height.errors.required">
            Height is required
        </span>
    </div>
    <label>~Width:</label>
    <input required type="number" formControlName="width">
    <div *ngIf="width.invalid && (width.dirty || width.touched)">
        <span *ngIf="width.errors.required">
            Width is required
        </span>
    </div>
    Landscape:
    <input type="checkbox" formControlName="landscape">

<button type="submit" [disabled]="!createForm.valid">Create</button>
</form>